.header {
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 0px;
    height: 95px;
    width: 1020px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 31.5px;
}

.head-row {
    justify-content: space-between;
    display: flex;
}

.logo {
    font-size: 24px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    margin-top: 8px;
}

.navbar_link {
    text-decoration: none;
    color: #ffffff;
}

.navbar_link:hover {
    color: #dbdc7f;
}

.navbar_link_selected {
    color: #f06c64;
}

.navbar_item {
    font-size: 12px;
    line-height: 6px;
    font-family: Lato;
    display: inline-block;
    font-weight: 700;
    list-style: decimal;
}

.navbar_item:before {
    content: '\00b7\00a0\00a0\00a0\00a0\00a0';
    color: rgb(94, 92, 92);
}

.navbar_item:first-child:before {
    content: '';
}

.navbar_list {
    display: flex;
    justify-content: space-between;
    width: 371px;
}

.navbar {}

body {
    margin: 0;
    padding: 0;
}