.services__title,
.portfolio__title,
.about-us__title,
.get-a-quote__title {
  font-size: 30px;
  font-weight: 900;
  line-height: 17px;
}

.services__text,
.portfolio__text,
.about-us__text,
.get-a-quote__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.service__title,
.employee__name,
.contacts__title {
  font-size: 18px;
  font-weight: 900;
  line-height: 17px;
}

.service__text,
.employee__description,
.form__input-text,
.contacts__text,
.contacts__address,
.contacts__phone,
.contacts__mail {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-300.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-700.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-900.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-900.woff") format("woff");
}

body {
  margin: 0;
  overflow: overlay;
  font-family: "Lato", "Arial", sans-serif;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header nav {
  display: flex;
}

.logo {
  z-index: 22;
  margin: 34px 0 35px 40px;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -0.475px;
  transition: margin 0.3s;
}

.logo::after {
  color: #f06c64;
  content: "*";
}

.logo_small {
  margin: 10px 0 4px 40px;
}

.navbar {
  display: flex;
  align-self: center;
  margin-top: 24px;
  margin-right: 40px;
  list-style: none;
  transition: margin 0.3s;
}

.navbar__item {
  position: relative;
  line-height: 0;
}

.navbar__item_active .navbar__link {
  color: #f06c64;
}

.navbar__item a {
  font-size: 12px;
  font-weight: 700;
  line-height: 9px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navbar__item:nth-child(2) {
  margin-left: 30px;
  letter-spacing: -0.168px;
}

.navbar__item:nth-child(5) {
  letter-spacing: -0.19px;
}

.navbar__item + .navbar__item {
  margin-left: 29px;
}

.navbar__item + .navbar__item::before {
  position: absolute;
  left: -16px;
  color: #494e62;
  content: ".";
}

.navbar_small {
  margin-top: 4px;
  margin-bottom: 0;
}

.header__menu {
  position: fixed;
  top: 26px;
  left: 20px;
  z-index: 22;
  display: none;
  align-items: center;
  width: 25px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s, top 0.3s;
}

.header__menu::before,
.header__menu::after {
  position: absolute;
  content: "";
}

.header__menu::before {
  top: 0;
}

.header__menu::after {
  bottom: 0;
}

.header__menu span,
.header__menu::before,
.header__menu::after {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.header__menu_small {
  top: 10px;
}

.header__menu_open {
  transform: rotate(-90deg);
}

.menu-modal {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

.menu-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.4s;
}

.nav-mobile {
  position: relative;
  z-index: 22;
  width: 278px;
  height: 100vh;
  padding-left: 71px;
  background-color: #2d303a;
  box-shadow: 0 -40px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.4s;
  transform: translateX(-100%);
}

.navbar_mobile {
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.navbar_mobile .navbar__item {
  margin-left: 0;
}

.navbar_mobile .navbar__item .navbar__link {
  font-size: 24px;
  line-height: 29px;
}

.navbar_mobile .navbar__item:not(:first-child) {
  margin-top: 27px;
}

.navbar_mobile .navbar__item + .navbar__item::before {
  display: none;
}

.menu-modal_open {
  z-index: 20;
  visibility: visible;
}

.menu-modal_open .menu-modal__overlay {
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-modal_open .nav-mobile {
  transform: translateX(0%);
}

.menu-modal_hide {
  z-index: 20;
  visibility: initial;
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    justify-content: center;
  }

  .header__wrapper_menu-open {
    justify-content: start;
    padding-left: 71px;
  }

  .header .nav {
    display: none;
  }

  .header__menu {
    display: flex;
  }

  .logo {
    margin: 25px 0 20px 0;
  }

  .logo_small {
    margin: 10px 0 4px 0;
  }
}

@media (hover: hover) {
  .navbar__item a:hover {
    color: #f06c64;
  }
}

@media screen and (width: 768px) {
  .navbar {
    margin-top: 19px;
  }
}

@media screen and (max-width: 375px) {
  .logo {
    margin-left: 9px;
    font-size: 18px;
    letter-spacing: 0.12px;
  }
}

.slider {
  padding-top: 91px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  transition: background-color 1s, border-color 1s;
}

.slider_two {
  background-color: #648bf0;
  border-bottom: 6px solid #647bf0;
}

.slider__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 598px;
  overflow: hidden;
}

.arrow-left {
  left: 42px;
  background: url("assets/images/arrow-left.png") no-repeat 0 0;
}

.arrow-right {
  right: 40px;
  background: url("assets/images/arrow-right.png") no-repeat 0 0;
}

.arrow-left,
.arrow-right {
  position: relative;
  top: calc(47% + 4px);
  z-index: 5;
  width: 16px;
  height: 27px;
  cursor: pointer;
  border: none;
  transition: filter 0.3s;
}

.slide {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-right: calc(10% + 9px);
  padding-left: 11px;
  margin-top: calc(5% + 6px);
}

.slide_two {
  justify-content: start;
  padding-right: 23%;
  padding-left: 22px;
}

.slide_hide {
  visibility: hidden;
}

.phone {
  position: relative;
  display: flex;
}

.phone_one {
  max-width: 216px;
  height: auto;
  margin-bottom: calc(6% + 2px);
  margin-left: calc(8% + 4px);
}

.phone_two {
  max-width: 459px;
  height: auto;
  margin-bottom: calc(6% + 3px);
  margin-left: calc(8% + 2px);
}

.phone_green {
  left: calc(48% + 3px);
  max-width: 230px;
  height: auto;
  margin-bottom: 7%;
}

.phone_back {
  z-index: 1;
  margin-bottom: 1px;
}

.iphone {
  position: relative;
  z-index: 3;
  width: 100%;
  cursor: pointer;
}

.phone__screen {
  position: absolute;
  z-index: 4;
  cursor: pointer;
  transition: opacity 0.4s;
}

.phone__screen_one {
  top: calc(14% + 1px);
  left: 7%;
  width: 87%;
}

.phone__screen_two {
  top: calc(6% + 1px);
  left: 13%;
  width: calc(73% - 2px);
}

.phone__screen_green {
  top: calc(14% + 1px);
  left: calc(6% + 1px);
  width: calc(87% + 1px);
}

.phone__shadow {
  position: absolute;
  z-index: 2;
}

.phone__shadow_one {
  left: 1%;
  width: 111%;
}

.phone__shadow_two {
  width: calc(105% + 2px);
}

.phone__shadow_green {
  width: 111%;
}

.phone-back {
  width: 100%;
}

.hide {
  opacity: 0;
}

.slider-right {
  visibility: visible !important;
  -webkit-animation-name: slideright;
  animation-name: slideright;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes slideright {
  0% {
    transform: translateX(-125%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideright {
  0% {
    -webkit-transform: translateX(-125%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.slider-right-gone {
  visibility: visible !important;
  -webkit-animation-name: sliderightgone;
  animation-name: sliderightgone;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes sliderightgone {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(125%);
  }
}

@-webkit-keyframes sliderightgone {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(125%);
  }
}

.slider-left {
  visibility: visible !important;
  -webkit-animation-name: slideleft;
  animation-name: slideleft;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes slideleft {
  0% {
    transform: translateX(125%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideleft {
  0% {
    -webkit-transform: translateX(125%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.slider-left-gone {
  visibility: visible !important;
  -webkit-animation-name: slideleftgone;
  animation-name: slideleftgone;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes slideleftgone {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-125%);
  }
}

@-webkit-keyframes slideleftgone {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-125%);
  }
}

@media screen and (max-width: 1019px) {
  .slider__wrapper {
    height: 56vw;
  }

  .phone_one {
    margin-left: calc(15% + 4px);
  }

  .arrow-left {
    left: 31px;
  }

  .arrow-right {
    right: calc(3% + 4px);
  }
}

@media (hover: hover) {
  .arrow-left:hover,
  .arrow-right:hover {
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.5)) contrast(140%);
  }
}

@media screen and (width: 768px) {
  .slider__wrapper {
    height: calc(58vw + 4px);
  }

  .slide {
    padding-right: calc(13% + 2px);
  }

  .slide_two {
    padding-right: calc(25% + 2px);
  }

  .phone_one {
    margin-bottom: calc(4% + 6px);
    margin-left: 11%;
  }

  .phone_two {
    margin-bottom: calc(4% + 4px);
    margin-left: calc(11% + 2px);
  }
}

@media screen and (max-width: 375px) {
  .slider__wrapper {
    height: 52vw;
  }

  .arrow-left,
  .arrow-right {
    top: calc(38% + 4px);
  }

  .arrow-left {
    left: 9px;
  }

  .arrow-right {
    right: calc(2% + 2px);
  }

  .slide {
    padding-right: calc(11% + 9px);
    margin-top: 0;
  }

  .slide_two {
    padding-right: calc(25% + 2px);
  }

  .phone_one {
    margin-bottom: calc(8% + 2px);
    margin-left: calc(8% + 4px);
  }

  .phone_two {
    margin-bottom: calc(8% + 2px);
    margin-left: calc(11% + 2px);
  }
}

.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  scroll-margin-top: 39px;
}

.services__wrapper {
  padding: 69px 0 29px 0;
}

.services__title {
  margin: 0 0 0 40px;
  color: #666d89;
  letter-spacing: -0.18px;
}

.services__text {
  margin: 27px 40px 0 40px;
  color: #767e9e;
  text-align: justify;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 41px;
  margin: 46px 0 0 40px;
}

.services-list__item {
  display: flex;
  width: calc(100% / 3 - 13px);
  margin-bottom: 32px;
}

.service {
  margin: 0 0 0 20px;
}

.service__title {
  margin: 0;
  color: #666d89;
  letter-spacing: -0.09px;
}

.service__text {
  height: 63px;
  margin: 11px 0 0 0;
  overflow: hidden;
  color: #767e9e;
  text-align: justify;
}

.services-list__item:nth-child(3) .service,
.services-list__item:nth-child(6) .service {
  margin-left: 20px;
}

.services-list__item:nth-child(3) .service__title,
.services-list__item:nth-child(6) .service__title {
  margin-left: 2px;
}

.icon {
  width: 59px;
  height: 59px;
  margin-top: 1px;
  margin-left: 1px;
}

@media screen and (max-width: 1019px) {
  .services-list__item {
    width: 46%;
  }
}

@media screen and (max-width: 767px) {
  .services-list__item {
    width: 100%;
  }
}

@media screen and (width: 768px) {
  .services__wrapper {
    padding: 49px 0 19px 0;
  }

  .services-list {
    padding-right: 75px;
    margin-top: 38px;
  }

  .services-list__item {
    margin-bottom: 52px;
  }
}

@media screen and (max-width: 375px) {
  .services__wrapper {
    padding: 34px 0 22px 0;
  }

  .services__title,
  .services__text,
  .services-list {
    margin-left: 32px;
  }

  .services-list {
    margin-top: 30px;
  }

  .services-list__item {
    margin-bottom: 28px;
  }

  .services-list__item:last-child {
    margin-bottom: 0;
  }
}

.portfolio {
  min-height: 869px;
  padding-bottom: 47px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  scroll-margin-top: 39px;
}

.portfolio__wrapper {
  padding-top: 66px;
}

.portfolio__title {
  margin: 3px 0 0 40px;
  color: #666d89;
}

.portfolio__text {
  margin: 27px 40px 0 40px;
  color: #767e9e;
}

.portfolio__tags {
  margin: 11px 40px 0 41px;
}

.portfolio__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 19px 40px 0 40px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tags li:not(:last-child) {
  margin-right: 10px;
}

.tags__item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #767e9e;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #666d89;
  border-radius: 5px;
  transition: color 0.3s, border 0.3s;
}

.tags__item_active {
  color: #dedede;
  cursor: auto;
  border: 1px solid #c5c5c5;
}

.tags li:nth-child(1) .tags__item {
  padding: 4px 6px 4px 7px;
}

.tags li:nth-child(2) .tags__item {
  padding: 4px 6px 4px 6px;
}

.tags li:nth-child(3) .tags__item {
  padding: 4px 5px 4px 6px;
}

.tags li:nth-child(4) .tags__item {
  padding: 4px 4px 4px 7px;
}

.project-link {
  width: calc(25% - 15px);
  max-height: 187px;
  margin-bottom: 20px;
  visibility: visible !important;
  -webkit-animation-name: entrance;
  animation-name: entrance;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.project-link:nth-child(1n + 13) {
  display: none;
}

.project-link_active {
  outline: 5px solid #f06c64;
}

.project-photo {
  width: 100%;
  height: 100%;
  transition: filter 0.3s;
}

@keyframes entrance {
  0% {
    opacity: 0.2;
    transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
  }

  30% {
    opacity: 1;
    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
  }

  45% {
    opacity: 1;
    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
  }

  60% {
    opacity: 1;
    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
  }

  75% {
    opacity: 1;
    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
  }

  90% {
    opacity: 1;
    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
  }
}

@-webkit-keyframes entrance {
  0% {
    opacity: 0.2;
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
  }

  30% {
    opacity: 1;
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
  }

  45% {
    opacity: 1;
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
  }

  75% {
    opacity: 1;
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
  }

  90% {
    opacity: 1;
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
  }
}

@media screen and (max-width: 1019px) {
  .project-link {
    width: calc(33% - 10px);
    max-height: 244px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    min-height: 808px;
    padding-bottom: 0;
  }

  .project-link {
    width: calc(50% - 10px);
  }

  .project-link:nth-child(1n + 9) {
    display: none;
  }

  .tags li {
    margin-bottom: 10px;
  }
}

@media (hover: hover) {
  .project-photo:hover {
    filter: contrast(150%);
  }

  .tags__item:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
  }
}

@media screen and (width: 768px) {
  .portfolio {
    padding-bottom: 45px;
  }

  .portfolio__text {
    margin-right: 45px;
  }

  .portfolio__photos {
    margin: 28px 41px 0 39px;
  }

  .project-link {
    width: calc(33% - 11px);
    max-height: 184px;
  }
}

@media screen and (max-width: 375px) {
  .portfolio__wrapper {
    padding-top: 48px;
    padding-bottom: 21px;
  }

  .portfolio__title,
  .portfolio__text,
  .portfolio__tags {
    margin-left: 30px;
  }

  .portfolio__tags {
    margin-top: 17px;
  }

  .portfolio__photos {
    margin: 15px 30px 0 30px;
  }

  .project-link {
    width: calc(50% - 6px);
    max-height: 128px;
    margin-bottom: 14px;
  }
}

.about-us {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  scroll-margin-top: 39px;
}

.about-us__wrapper {
  padding-top: 68px;
  padding-bottom: 67px;
}

.about-us__title {
  margin: 0 0 0 40px;
  color: #666d89;
}

.about-us__text {
  margin: 28px 40px 0 40px;
  color: #767e9e;
  text-align: justify;
}

.about-us__staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 45px 40px 0 40px;
}

.employee {
  width: 32%;
  max-width: 300px;
}

.employee__photo {
  width: 100%;
}

.employee__name {
  margin: 15px 0 0 0;
  overflow: hidden;
  color: #666d89;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.employee__description {
  max-height: 63px;
  margin: 10px 0 0 0;
  overflow: hidden;
  color: #767e9e;
  text-align: justify;
}

.employee__social-links {
  margin-top: 23px;
}

.employee:nth-child(1) .employee__name {
  letter-spacing: -0.198px;
}

.employee:nth-child(1) .employee__description {
  letter-spacing: -0.068px;
}

.employee:nth-child(2) {
  margin-right: 1px;
}

.employee:nth-child(2) .employee__name {
  letter-spacing: -0.144px;
}

.employee:nth-child(3) .employee__name {
  letter-spacing: -0.162px;
}

.social-links {
  display: flex;
}

.social-links__image {
  transition: filter 0.3s;
}

.social-links__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border: 1px solid #666d89;
  border-radius: 50%;
  transition: background-color 0.3s, border-color 0.3s;
}

.social-links__item:not(:first-child) {
  margin-left: 7px;
}

@media screen and (max-width: 767px) {
  .about-us__wrapper {
    padding-bottom: 45px;
  }

  .about-us__staff {
    justify-content: center;
    margin-top: 20px;
  }

  .employee {
    width: 100%;
    max-width: 400px;
  }

  .employee__social-links {
    margin-top: 8px;
  }

  .employee:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (hover: hover) {
  .social-links__item:hover {
    border: 1px solid transparent;
  }

  .social-links__item:hover .social-links__image {
    filter: brightness(0) invert(1);
  }

  .social-links__item:nth-child(1):hover {
    background-color: #3b5998;
  }

  .social-links__item:nth-child(2):hover {
    background-color: #db4a39;
  }

  .social-links__item:nth-child(3):hover {
    background-color: #00acee;
  }

  .social-links__item:nth-child(4):hover {
    background-color: #0e76a8;
  }
}

@media screen and (width: 768px) {
  .about-us__wrapper {
    padding-top: 62px;
    padding-bottom: 68px;
  }

  .about-us__staff {
    margin: 37px 40px 0 42px;
  }

  .employee {
    width: calc(31% + 6px);
  }

  .employee__name {
    margin-top: 11px;
  }

  .employee__description {
    margin-top: 3px;
  }

  .employee__social-links {
    margin-top: 13px;
  }
}

@media screen and (max-width: 375px) {
  .about-us__wrapper {
    padding-top: 42px;
    padding-bottom: 39px;
  }

  .about-us__title,
  .about-us__text {
    margin-left: 30px;
  }

  .about-us__staff {
    margin: 24px 30px 0 31px;
  }

  .employee__name {
    margin-top: 16px;
  }

  .employee__description {
    margin-top: 3px;
  }

  .employee__social-links {
    margin-top: 13px;
  }

  .employee:not(:last-child) {
    margin-bottom: 33px;
  }

  .employee:nth-child(2) {
    margin-right: 0;
  }
}

.get-a-quote {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  scroll-margin-top: 39px;
}

.get-a-quote__wrapper {
  padding-top: 69px;
  padding-bottom: 21px;
}

.get-a-quote__title {
  margin: 0 0 0 40px;
  color: #f0d8d9;
}

.get-a-quote__text {
  margin: 27px 40px 0 40px;
  color: #f0d8d9;
  text-align: justify;
}

.get-a-quote__content {
  display: flex;
  margin: 44px 40px 0 40px;
}

.get-a-quote__contacts {
  display: flex;
  flex-direction: column;
  width: 37%;
  margin-top: 1px;
  margin-left: 21px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(76% + 4px);
}

.form__label {
  position: absolute;
  top: 8px;
  right: 5px;
  display: none;
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: red;
  text-align: center;
  border: 1px solid red;
  border-radius: 50%;
}

.form__label:nth-child(4) {
  top: 62px;
}

.form__input-text {
  padding: 8px 15px 9px 15px;
  margin-top: 16px;
  color: #f0d8d9;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.form__input-text::placeholder {
  color: #f48c8f;
  opacity: 1;
}

.form__input-text:-moz-ui-invalid {
  box-shadow: none;
}

.form__input-text:nth-child(1) {
  margin-top: 0;
}

.form__input-text:focus {
  color: #f06c64;
  background-color: #ffffff;
}

.form__input-text:required:focus:invalid {
  box-shadow: 0 0 5px 2px red;
}

.form__input-text:required:focus:invalid + .form__label {
  display: inline-block;
}

.form__input-text_area {
  height: 202px;
  padding-top: 7px;
  resize: none;
}

.form__button {
  width: 80px;
  height: 30px;
  margin-top: 16px;
  font-weight: 700;
  color: #f06c64;
  cursor: pointer;
  background-color: #f0d8d9;
  border: solid 1px transparent;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.contacts__title {
  margin: 0;
  color: #f0d8d9;
  letter-spacing: -0.09px;
}

.contacts__text,
.contacts__address,
.contacts__phone,
.contacts__mail {
  color: #f0d8d9;
}

.contacts__text {
  margin: 10px 0 0 0;
  text-align: justify;
  letter-spacing: -0.04px;
}

.contacts__address,
.contacts__phone,
.contacts__mail {
  position: relative;
  padding-left: 23px;
  text-decoration: none;
}

.contacts__icon {
  position: absolute;
}

.contacts__address {
  margin: 24px 0 0 0;
}

.contacts__address .contacts__icon {
  top: 5px;
  left: 3px;
}

.contacts__phone .contacts__icon {
  top: 5px;
  left: 1px;
}

.contacts__mail {
  margin-top: 1px;
}

.contacts__mail .contacts__icon {
  top: 8px;
  left: 0;
}

@media screen and (max-width: 767px) {
  .get-a-quote__content {
    flex-direction: column;
  }

  .form,
  .get-a-quote__contacts,
  .form__button {
    width: 100%;
  }

  .form__button {
    height: 50px;
  }

  .get-a-quote__contacts {
    width: 100%;
    margin-top: 32px;
    margin-left: 0;
  }
}

@media (hover: hover) {
  .contacts__phone:hover,
  .contacts__mail:hover {
    text-decoration: underline;
  }

  .form__input-text:hover:not(:focus) {
    background-color: #c04942;
  }

  .form__button:hover {
    background-color: #ffffff;
  }
}

@media screen and (width: 768px) {
  .get-a-quote__wrapper {
    padding-top: 63px;
    padding-bottom: 48px;
  }

  .get-a-quote__content {
    margin-top: 25px;
    margin-left: 39px;
  }

  .form {
    width: calc(77% + 1px);
  }

  .form__input-text {
    padding-left: 10px;
    margin-top: 12px;
  }

  .form__input-text_area {
    height: 159px;
    padding-top: 5px;
  }

  .get-a-quote__contacts {
    width: calc(38% + 0px);
    margin-left: 29px;
  }

  .contacts__text {
    margin-top: 3px;
  }

  .contacts__address {
    margin-top: 16px;
  }
}

@media screen and (max-width: 375px) {
  .get-a-quote__wrapper {
    padding-top: 53px;
    padding-bottom: 36px;
  }

  .get-a-quote__title,
  .get-a-quote__text {
    margin-left: 30px;
  }

  .get-a-quote__content {
    margin: 24px 30px 0 30px;
  }

  .form__input-text {
    padding: 9px 15px 8px 7px;
    margin-top: 12px;
  }

  .form__input-text_area {
    height: 159px;
    padding-top: 5px;
  }

  .form__button {
    margin-top: 14px;
  }

  .contacts__text {
    margin-top: 5px;
  }

  .contacts__address {
    margin-top: 14px;
  }

  .contacts__phone,
  .contacts__mail {
    margin-top: 4px;
  }
}

.footer {
  background-color: #2d303a;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 21px;
}

.footer__copyright {
  margin-bottom: 2px;
  margin-left: 42px;
}

.footer__social-links {
  margin-right: 39px;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 6px;
  color: #666d89;
  letter-spacing: -0.144px;
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    justify-content: center;
  }

  .footer__copyright {
    display: none;
  }

  .footer__social-links {
    margin-right: 0;
  }
}

@media screen and (width: 768px) {
  .footer__wrapper {
    padding-top: 18px;
    padding-bottom: 17px;
  }

  .footer__copyright {
    margin-left: 40px;
  }

  .footer__social-links {
    margin-right: 42px;
  }

  .copyright {
    margin-top: 12px;
    margin-bottom: 9px;
    font-size: 13px;
    font-weight: 900;
    line-height: 18px;
  }
}

.singolo-modal {
  position: relative;
  z-index: -1;
  opacity: 0;
}

.singolo-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.4s;
}

.letter {
  max-width: 430px;
  max-height: 50%;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  overflow: auto;
  color: #666d89;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  transition: transform 0.4s;
  transform: translateY(-100%);
}

.letter__title {
  margin: 0;
  font-size: 28px;
}

.letter__subject,
.letter__description {
  font-size: 18px;
  text-align: start;
  word-wrap: break-word;
}

.letter__button {
  padding: 5px 20px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #666d89;
  cursor: pointer;
  background-color: #f2f2f2;
  border: solid 1px transparent;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.singolo-modal_open {
  z-index: 100;
  opacity: 1;
}

.singolo-modal_open .letter {
  transform: translateY(10%);
}

.singolo-modal_open .singolo-modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.singolo-modal_hide {
  z-index: 100;
  opacity: 1;
}

@media (hover: hover) {
  .letter__button:hover {
    background-color: #dedede;
  }
}